body {
    font-family: Arial, sans-serif;
    background-color: #b6e2ff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 70px auto;
    background: tan;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 400px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #3003f7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #080808;
  }
  
  #error {
    color: red;
    text-align: center;
  }
  .tags li {
    display: inline-block;
    position: relative;
    left: 74vh;
    word-spacing: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    li a {
        width: 80px;
        text-align: center;
    }
    /* unvisited link */
    a:link {
        color: #2600ff;
        background-color: transparent;
        text-decoration: none;
    }
    /*visited link*/
    a:visited {
    color: rgb(99, 6, 248);
    }
    
    
    /*mouse over link*/
    a:hover {
        color: #fff;
        background-color: black;
    }
    
    
    /*selected link */
    a:active {
        color: red;
    }
    ul li {
        display: inline-block;
        margin-right: 40px;
    }
             /* unvisited link */
a:link {
  color: #2600ff;
  background-color: transparent;
  text-decoration: none;
}
/*visited link*/
a:visited {
color: green;
}
/*mouse over link*/
a:hover {
  color: rgb(7, 7, 7);
  background-color: aqua;
}
/*selected link */
a:active {
  color: red;
}

ul {
list-style-type: none;
text-decoration: none;
display: inline-block;
position: relative;
left: 74vh;
word-spacing: 20px;
}